# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Compiled files
*.class
*.o
*.so
*.dll
*.exe

# IDE and Editor files
.vscode/
.idea/
*.iml
*.sublime-workspace
*.swp
*.bak
*.tmp

# OS files
*.~lock
*.swp

# Build artifacts
dist/
build/
*.out
*.app
*.bin

# Git-related files
*.orig

# Ignore environment files
.env
.env.local

# Archives
*.zip
*.tar.gz
*.rar

# virtual env
env
venv

# DB
tasks.db